body {
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 301px;
}
p, li{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
    
}

.header {
  background-color: black;
  border: 1px solid black;
  padding-left: 70px;
}

.footer{
  background: black;
  color: white;
  padding-left: 70px;
  border: 1px solid black;
  
}
